<h1>Scores for Week <%= @week %></h1>

<table class="scores">
  <% @games.each do |game| %>
    <tr class="away">
      <%= render :partial => 'side', :locals => { :side => game[:away] } %>
    </tr>
    <tr class="home">
      <%= render :partial => 'side', :locals => { :side => game[:home] } %>
    </tr>
  <% end %>
</table>
<br/>
<br/>
<table class="legend">
  <tr>
    <td class="losing">Losing</td>
  </tr>
  <tr>
    <td class="lost">Lost</td>
  </tr>
  <tr>
    <td class="winning">Winning</td>
  </tr>
  <tr>
    <td class="won">Won (or failed to lose)</td>
  </tr>
</table>


